<h1>Hash Class Creator:</h1>
<form action="/display">
<hr>
<label for="first_string">Type in your first word or words here:</label>
<input id="first_string" name="first_string" type="text"/>
<hr>
<label for="second_string">Type in the word or words you wish to compare it to:</label>
<input id="second_string" name="second_string" type="number" min="0" max="10000"/>
<hr>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
